<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='TeleTok - Ver Post')"></head>
<body>
<div class="container container-app">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6">
            <img th:src="@{/img/huaraz.jpg}" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <p class="card-text card-body-app">#huaraz #peru #trip</p>
                            <p class="card-text"><small class="text-muted">@josebarturen - Publicado hace 25 minutos</small></p>
                        </div>
                        <div class="col-2 text-right">
                            <button class="btn btn-link"><i class="fa fa-heart-o"></i> 4</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled" >
                        <li class="media">
                            <img th:src="@{/img/avatar.png}" class="mr-3" style="max-width: 30px;">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">@juanperez</h6>
                                <p>Excelente foto!</p>
                            </div>
                        </li>
                        <li class="media">
                            <img th:src="@{/img/avatar.png}" class="mr-3" style="max-width: 30px;">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">@josebarturen</h6>
                                <p>Gracias!</p>
                            </div>
                        </li>
                    </ul>
                    <form action="#" method="post">
                        <div class="form-group">
                            <textarea class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Enviar Comentario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>